/* src/Layout.css */



.main-content {
    position: relative;
    z-index: 10; /* Keep the content above the background */
}

.layout {
    position: relative; /* Ensure proper layering */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    max-height: 60px;
}
.header-contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 100px;
}

.contacts {
    max-height: 60px;
}
.contacts a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.main-content {
    flex: 1;
}
@media (max-width: 576px) {
    .header-contents {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 20px;
    }
}